/*CSS Grid Layout Container*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
.grid-container > div {
      border: 1px solid black;
      color:black;
      text-align: center;
}
h1 {
  text-align: center;
}
/* Desktop Device */
@media only screen and (min-width: 601px) {
/* Home grid layout */
.menu {
  grid-column: 2/12;
  grid-row: 2/ span 30;
}
.phrase {
  grid-column: 2/12;
  grid-row: 32 / span 10;
}
.map {
  grid-column: 2/12;
  grid-row: 42/ span 20;
}
/* About Page Grid */
.banner
{
  grid-column: 2/12;
  grid-row: 1 / span 25;
}
.about_paragraph {
  grid-column: 2/12;
  grid-row: 26 / span 30;
}
/* Contact Grid Page */
.contact_us{
  grid-column: 2/12;
  grid-row: 2 / span 10;
}
.form {
  grid-column: 2/12;
  grid-row: 12 / span 35;
}
.submit {
  grid-column: 2/12;
  grid-row: 48 / span 5;
}
/* Footer Grid */
.footer {
  grid-area: 62 / 1 / span 10 / span 12;
}
.footer p:first-child {
  float: left;
}
.footer p {
  padding: 20px 20px;
  float: right;
}
}
/* Mobile Device */
@media only screen and (max-width: 600px) {
.menu {
  grid-column: 2 / span 10;
  grid-row: 2 / span 30;
}
.phrase {
  grid-column: 2/ span 10;
  grid-row: 32 / span 10;
}
.map {
  grid-column: 2/ span 10;
  grid-row: 42/ span 20;
}
/* About Page Grid */
.banner
{
  grid-column: 2/12;
  grid-row: 1 / span 25;
}
.about_paragraph {
  grid-column: 2/12;
  grid-row: 26 / span 30;
}
/* Contact Grid Page */
.contact_us{
  grid-column: 2/12;
  grid-row: 2 / span 10;
}
.form {
  grid-column: 2/12;
  grid-row: 12 / span 35;
}
.submit {
  grid-column: 2/12;
  grid-row: 48 / span 5;
}
/* Footer Grid */
.footer {
  grid-row: 62 / span 10;
  grid-column: 1 /13;
  text-align: center;
}
}
